<div class="filters">
    <!--<h3>Filter events</h3>-->         
    
    
    <!-- 1. EVENT TYPE  -->
    <div class="filter-item" id="event-type">

            <form>
                <div class="checkbox-item" data-label="in-person-events" filter-type="event-type">
                <label data-option="in-person-events" data-label="in-person-events" filter-type="event-type" > 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="17.455" viewBox="0 0 24 17.455">
                        <g id="Group_10140" data-name="Group 10140" transform="translate(-1 -4)">
                            <g id="Group_10138" data-name="Group 10138" transform="translate(1 4)">
                                <path id="Path_7657" data-name="Path 7657" d="M16.67,13.13a5.074,5.074,0,0,1,2.542,4.222v3.273h4.364V17.352C23.575,14.974,19.681,13.566,16.67,13.13Z" transform="translate(0.425 -3.17)" fill="#333" />
                                <path id="Path_7658" data-name="Path 7658" d="M15.121,12.727a4.364,4.364,0,0,0,0-8.727,4.558,4.558,0,0,0-1.451.262,6.524,6.524,0,0,1,0,8.2A4.558,4.558,0,0,0,15.121,12.727Z" transform="translate(0.152 -4)" fill="#333" />
                                <path id="Path_7659" data-name="Path 7659" d="M9.364,12.727A4.364,4.364,0,1,0,5,8.364,4.362,4.362,0,0,0,9.364,12.727Zm0-6.545A2.182,2.182,0,1,1,7.182,8.364,2.188,2.188,0,0,1,9.364,6.182Z" transform="translate(-0.636 -4)" fill="#333" />
                                <path id="Path_7660" data-name="Path 7660" d="M9.727,13C6.815,13,1,14.462,1,17.364v3.273H18.455V17.364C18.455,14.462,12.64,13,9.727,13Zm6.545,5.455H3.182v-1.08c.218-.785,3.6-2.193,6.545-2.193s6.327,1.407,6.545,2.182Z" transform="translate(-1 -3.182)" fill="#333" />
                            </g>
                        </g>
                    </svg>
                    In person events</label>
                    <input type="checkbox" id="in-person-events">
                </div>
                
                
                <div class="checkbox-item" data-label="online-events" filter-type="event-type">
                <label data-option="online-events" data-label="online-events" filter-type="event-type">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="19.636" viewBox="0 0 24 19.636">
                        <path id="Path_7661" data-name="Path 7661" d="M22.818,3H3.182A2.174,2.174,0,0,0,1,5.182V18.273a2.181,2.181,0,0,0,2.182,2.182H8.636v2.182h8.727V20.455h5.455a2.179,2.179,0,0,0,2.171-2.182L25,5.182A2.181,2.181,0,0,0,22.818,3Zm0,15.273H3.182V5.182H22.818Z" transform="translate(-1 -3)" fill="#333" />
                    </svg>
                    Online events</label>
                    <input type="checkbox" id="online-events">
                </div>
          
                
          
                <div class="checkbox-item" data-label="past-recorded-events" filter-type="event-type">
                <label data-option="past-recorded-events" data-label="past-recorded-events" filter-type="event-type">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="19.636" viewBox="0 0 24 19.636">
                        <path id="Path_7662" data-name="Path 7662" d="M9.727,7.364v8.727l7.636-4.364ZM22.818,3H3.182A2.188,2.188,0,0,0,1,5.182V18.273a2.188,2.188,0,0,0,2.182,2.182H8.636v2.182h8.727V20.455h5.455A2.188,2.188,0,0,0,25,18.273V5.182A2.188,2.188,0,0,0,22.818,3Zm0,15.273H3.182V5.182H22.818Z" transform="translate(-1 -3)" fill="#333" />
                    </svg>
                    On demand events</label>
                    <input type="checkbox" id="past-recorded-events">
                </div>
           </form>
      
    </div>

   
    <!-- 2. DATE -->
    <div class="filter-item" id="date">
                    <div class="filter-item-title">
                         <p>Date <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters multi-select">
                        <ul>
                            
                            <li filter-type="date" data-option="this-month" data-label="this-month"> <span class="current-month"></span> (this month)</li>
                            <li filter-type="date" data-option="this-month-plus-1" data-label="this-month-plus-1" ><span class="current-month-plus-1"></span> (next month)</li>
                            <li filter-type="date" data-option="this-month-plus-2" data-label="this-month-plus-2"><span class="current-month-plus-2"> </span> and further dates</li>
                 
                            
                        </ul>
                    </div>                
                    <div class="filter-item-content">

                        <form>
                            
                            <div class="checkbox-item" data-option="this-month" data-label="this-month" filter-type="date">
                            <input type="checkbox">
                            <label data-option="this-month" data-label="this-month"><span class="current-month"></span> (this month)</label>
                            </div> 
                            
                            <div class="checkbox-item" data-option="this-month-plus-1" data-label="this-month-plus-1" filter-type="date">
                            <input type="checkbox">
                            <label data-option="this-month-plus-1"  data-label="this-month-plus-1"><span class="current-month-plus-1"></span> (next month)</label>
                            </div> 
                            
                            <div class="checkbox-item" data-option="this-month-plus-2" data-label="this-month-plus-2" filter-type="date">
                            <input type="checkbox">
                            <label data-option="this-month-plus-2" data-label="this-month-plus-2"><span class="current-month-plus-2"> </span>  and further dates</label>
                            </div>   
                            
                             
                        </form>
                        
                        

                        </div>
                    </div>
    
    
    
    <!-- 2. TOPIC -->
    <div class="filter-item" id="topic">
                    <div class="filter-item-title">
                         <p>Topic <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters multi-select">
                        <ul>
                            <li filter-type="topic" data-label="business-finance" data-option="business-finance">Business finance</li>
                            <li filter-type="topic" data-label="business-planning" data-option="business-planning">Business planning</li>
                            <li filter-type="topic" data-label="contracting-and-tendering" data-option="contracting-and-tendering">Contracting and tendering</li>
                            <li filter-type="topic" data-label="customer-service" data-option="customer-service">Customer service</li>
                            <li filter-type="topic" data-label="digital-business" data-option="digital-business">Digital business</li>
                            <li filter-type="topic" data-label="employing-people" data-option="employing-people">Employing people</li>
                            <li filter-type="topic" data-label="exporting" data-option="exporting">Exporting</li>
                            <li filter-type="topic" data-label="government-grant-programs" data-option="government-grant-programs">Government grant programs</li> 
                            <li filter-type="topic" data-label="industry-compliance" data-option="industry-compliance">Industry compliance</li>
                            <li filter-type="topic" data-label="innovation-and-commercialisation" data-option="innovation-and-commercialisation">Innovation and commercialisation</li>
                            <li filter-type="topic" data-label="marketing" data-option="marketing">Marketing</li>
                            <li filter-type="topic" data-label="networking" data-option="networking">Networking</li>
                            <li filter-type="topic" data-label="starting-a-business" data-option="starting-a-business">Starting a business</li>
                            <li filter-type="topic" data-label="taxation-and-record-keeping" data-option="taxation-and-record-keeping">Taxation and record keeping</li>
                            <li filter-type="topic" data-label="work-health-and-safety" data-option="work-health-and-safety">Work health and safety</li>
                        </ul>
                    </div>                
                    
        
                    <div class="filter-item-content">

                        <form>
                            <div class="checkbox-item" data-label="business-finance" data-option="business-finance" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="business-finance" data-option="business-finance" data-option="business-finance">Business finance</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="business-planning" data-option="business-planning" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="business-planning" data-option="business-planning" data-option="business-planning">Business planning</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="contracting-and-tendering" data-option="contracting-and-tendering" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="topic1" data-label="contracting-and-tendering" data-option="contracting-and-tendering">Contracting and tendering</label>
                            </div> 
                            
                            <div class="checkbox-item" data-label="customer-service" data-option="customer-service" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="customer-service" data-option="customer-service">Customer service</label>
                            </div>
                                                        
                            <div class="checkbox-item" data-label="digital-business" data-option="digital-business" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="digital-business" data-option="digital-business">Digital business</label>
                            </div>  
                            
                            <div class="checkbox-item" data-label="employing-people" data-option="employing-people" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="employing-people" data-option="employing-people">Employing people</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="exporting" data-option="exporting" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="exporting" data-option="exporting">Exporting</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="government-grant-programs" data-option="government-grant-programs" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="government-grant-programs" data-option="government-grant-programs">Government grant programs</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="industry-compliance" data-option="industry-compliance" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="industry-compliance" data-option="industry-compliance">Industry compliance</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="innovation-and-commercialisation" data-option="innovation-and-commercialisation" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="innovation-and-commercialisation" data-option="innovation-and-commercialisation">Innovation and commercialisation</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="marketing" data-option="marketing" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="marketing" data-option="marketing">Marketing</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="networking" data-option="networking" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="networking" data-option="networking">Networking</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="starting-a-business" data-option="starting-a-business" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="starting-a-business" data-option="starting-a-business">Starting a business</label>
                            </div> 
                                                    
                            <div class="checkbox-item" data-label="taxation-and-record-keeping" data-option="taxation-and-record-keeping" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="taxation-and-record-keeping" data-option="taxation-and-record-keeping">Taxation and record keeping</label>
                            </div>  
                            
                            <div class="checkbox-item" data-label="work-health-and-safety" data-option="work-health-and-safety" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="work-health-and-safety" data-option="work-health-and-safety">Work health and safety</label>
                            </div>
 
                             
                        </form>

                        </div>
                    </div>
            
    
    
    
    
    <!-- 3. BUSINESS LOCATION -->
    <div class="filter-item text-field-filter" id="postcode">
                 
        <div class="filter-item-title">
            <p>Business location <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                </g>
            </svg>

        </div>
        
        <div class="active-filters text-select">
            <ul>
                <li filter-type="postcode" data-option="postcode_status" data-label="postcode"></li>
            </ul>
        </div>                
                    

        <div class="filter-item-content">

            <label data-option="postcode_status" data-label="postcode">Enter your business postcode</label>
            <div class="text-field-item">
                <input type="text" />
                <button class="apply-postcode"  filter-type="postcode">Add postcode </button>
            </div>



        </div>
              
    </div>
    
                 
    </div>
    
